#root {
  border: none;
  padding: 0rem;
  margin: 0rem;
  /* text-align: center; */
}

:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: rgb(203 213 225 /1 );
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}